<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymitra">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:name=".MoneyMitraApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMitra">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity android:name=".SipCalculatorActivity" />
        <activity android:name=".EmiCalculatorActivity" />
        <activity android:name=".FdCalculatorActivity" />
        <activity android:name=".LoanCalculatorActivity" />
        <activity android:name=".PfCalculatorActivity" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditLiabilityActivity"
            android:exported="false" />
        <activity
            android:name=".LiabilitiesActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditAssetActivity"
            android:exported="false" />
        <activity
            android:name=".AssetsActivity"
            android:exported="false" />
        <activity
            android:name=".AddGoalActivity"
            android:exported="false" />
        <activity
            android:name=".GoalActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseCategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".AddInvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".InvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MoneyMitra.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:exported="true" /> <!-- DAILY REMINDER RECEIVER -->
        <receiver
            android:name=".DailyReminderReceiver"
            android:exported="false" />
    </application>

</manifest>